html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 0 auto;
    min-height: 200px;
    background-color: #121214;
    height: 100vh;
}

.inline-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-image: url(../img/mainBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 5% 10% 75% 20%;
}

a,
p,
span,
h1,
input {
    font-family: 'Roboto';
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #486c75;
    padding: 12px 0px 14px;
    width: 100%;
}

.greyText {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #ffffff;
}

.bold16GreyText {
    font-size: 16px;
}

.greyTextFs12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #b7c9e6;
}

.bold14GreyText {
    font-size: 14px;
}

.bold14GreyText,
.bold16GreyText {
    font-weight: 700;
    line-height: 14px;
    color: #b7c9e6;
}

.bold14Text {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

a {
    outline: none;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    min-height: 50px;
    cursor: pointer;
}

.w124 {
    width: 124px;
    padding: 6px 9px;
    justify-content: flex-start;
}

.w50 {
    width: 50px;
    justify-content: center;
}

.w50 img {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.statusBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.statusBar img {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.balanceInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    position: fixed;
    bottom: 20px;
}

.inline-footer {
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
}

.w60 {
    min-height: 60px;
    width: 100%;
    justify-content: center;
}

.w60 svg {
    margin-bottom: 6px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main img {
    display: inline-block;
    width: 100%;
}

.templateContainer {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(18, 18, 20, 0.5);
}

.inlineTemplateContainer {
    width: 100%;
    max-width: 360px;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 16px 10px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigationMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    min-height: 70px;
    padding: 20px;
}

.navbox {
    display: flex;
    align-items: center;
    width: 50%;
}

.navbox1 {
    justify-content: left;
}

.navbox2 {
    justify-content: right;
}

.navigationMenuContainer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.statusColor {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #CCDDFF;
    margin-left: 6px;
    margin-right: 2px;
}

.statusTextColor {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #CCDDFF;
    margin-right: 6px;
}

.margTB {
    margin-top: 10px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusConfigContainer {
    display: grid;
    grid-template-columns: 30px 75px 170px 41px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 4px 0px;
    padding: 0px 13px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.configContainer {
    min-height: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 4px;
    padding: 0px 13px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
}

.configContainerFlex100 {
    display: flex;
    align-items: center;
    width: 100%;
}
.profileContainer .configContainerFlex100 {
    min-height: 50px;
    padding-left: 16px;
    padding-right: 16px;
}
.gridConfigContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 4px;
    width: 100%;
}

.fs16fw700 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.blueTxt {
    color: #EDF9FF;
}

.bronzeTxt {
    color: #FFBC8C;
}

.silverTxt {
    color: #F2F7FF;
}

.goldTxt {
    color: #FFD966;
}

.platinaTxt {
    color: #CCDDFF;
}

.greyBlue {
    color: #EDF9FF;
}

.green {
    color: #4DFF4D;
}

.red {
    color: #FF5B4C;
}

.statusConfigContainerbgBronze {
    background: rgba(255, 188, 140, 0.22);
}

.statusConfigContainerbgSilver {
    background: rgba(240, 246, 255, 0.25);
    ;
}

.statusConfigContainerbgGold {
    background: rgba(255, 217, 102, 0.25);
}

.statusConfigContainerbgPlatina {
    background: rgba(204, 221, 255, 0.25);
    border: 2px solid #CCDDFF;
}

.statusConfigContainer li {
    list-style-type: disc;
}

.statusConfigContainer ul {
    padding-left: 15px;
}

.balanceText {
    text-align: right;
}

.tc {
    text-align: center;
}
.tr {
    text-align: right;
}

.pl5 {
    padding-left: 5px;
}

.configBalanceContainer {
    justify-content: flex-start;
}

.balanceSumContainer,
.configBalanceContainer {
    display: flex;
    align-items: center;
    width: 50%;
}

.balanceSumContainer {
    justify-content: flex-end;
}

.configBalanceContainer img {
    display: inline-block;
    width: 30px;
}
.configBalanceContainer {
    display: flex;
    align-items: center;
    width: 50%;
}
.comSoonBlur {
    opacity: 0.5;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btnsContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.btnsContainer input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 50px;
    border: none;
}

.btnBlue {
    background-color: rgba(77, 195, 255, 0.7);
    color: #EDF9FF;
}

.btnRed {
    background-color: rgba(255, 68, 51, 0.7);
    color: #EDF9FF;
}

.btnGreen {
    background-color: rgba(76, 255, 76, 0.7);
    color: #EDF9FF;
}

.btn50 {
    width: 49%;
}

.btn100 {
    width: 100%;
}

.btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn:hover {
    transition: .3s linear;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.btnBlue:active {
    background-color: rgba(77, 195, 255, 1);
}

.btnBlue:hover {
    background-color: rgba(77, 195, 255, 1);
}

.mgTB16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.qrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
}

.qrContainer img {
    display: inline-block;
    width: 170px;
}

.walletAddressContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    justify-content: space-between;
    padding: 16px;
}
.friendsAddressContainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    justify-content: space-between;
    padding: 16px;
    margin-top: 16px;
}
.friendsAddressContainer input {
    width: 80%;
}
.walletLink {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    width: 90%;
}

.walletAddressContainer img {
    cursor: pointer;
    display: inline-block;
    width: 17px;
}

.copyAddress,
.configBalanceContainer .bold14GreyText span {
    margin-left: 10px;
}

.walletAddressConfigContainer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.walletChooseMenu .configBalanceContainer {
    width: 80%;
}

.tokenChosenContainer .configBalanceContainer {
    width: 40%;
}

.tokenStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.dateStatus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
}
.earnedStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
}
.tokenPercentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
.depositStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15%;
}

.profileContainer .depositStatusContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 30%;
}
.profileContainer .configBalanceContainer {
    width: 70%;
}
.tokenChosenContainer .walletAddressConfigContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.walletAddressConfigContainer img {
    display: inline-block;
    width: 20px;
}

.walletLinkContainer {
    background: none;
    border: none;
    width: 100%;
}

.successWithdraw {
    background: rgba(77, 255, 77, 0.25);
}

.successHead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.successHead p {
    color: #4DFF4D;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
}

.errorWithdraw {
    background: rgba(255, 91, 77, 0.25);
}

.errorHead p {
    color: #FF5B4C;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
}

.errorHead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.langContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 16px 16px;
}

.periodContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    border-radius: 12px;
    margin: 0px 0px 16px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
}

.period {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 10px;
    font-weight: 700;
    color: #EDF9FF;
    padding: 9px;
    cursor: pointer;
}

.langBtnsContainer {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.periodBtnsContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.langBtnsContainer div {
    font-size: 10px;
    line-height: 12px;
    color: #b7c9e6;
    font-weight: 400;
    cursor: pointer;
}

.selectedPeriod {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.selectedLanguage {
    font-weight: 500 !important;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.AddWallet {
    margin-top: 12px;
}

.editingWallet {
    cursor: pointer;
}

.gridConfigContainer .configContainer:hover {
    cursor: pointer;
}

.tokenChosen {
    border: 2px solid #4CC3FF;
}

.chooseTokenContainer .configBalanceContainer {
    width: 100%;
    justify-content: space-between;
}
.telegramContainer .configBalanceContainer {
    width: 100%;
    justify-content: start;
}
.configGridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3px;
    width: 100%;
}

.tokenPriceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 8px;
}

.tokenPriceContainer span {
    font-size: 10px;
    font-weight: 400;
}

.tokSContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tokSContainer span {
    margin-top: 5px;
    ;
}

.EnterNumberInput {
    background: none;
    border: none;
}

.newsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 4px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
}
.profileUserContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.profileStatusIcon {
    background-color: #121212;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #CCDDFF;
    position: relative;
    bottom: 17px;
}
.pr14 {
    position: relative;
    bottom: 14px;
}
.profileStatusIcon img {
    display: inline-block;
    width: 16px;
}
.startAppBtn {
    cursor: pointer;
}
.openPoolBtn {
    margin-top: 16px;
}
.BBText {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF8F40;
    padding: 10px 0px 16px;
    width: 100%;
}
.bullImg {
    display: inline-block;
    width: 50px;
}
@media screen and (max-width: 400px) {
    footer {
        width: 100%;
    }

    header {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: 35% 35% 13% 13%;
        /* grid-template-rows: auto; */
        grid-column-gap: 4px;
        /* grid-row-gap: 10px; */
    }

    .w124,
    .w50 {
        width: 100%;
    }

    .inline-footer {
        width: 100%;
    }

    footer {
        width: 90%;
    }

    .inline-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .balanceInfo span {
        width: 50%;
    }

    .balanceInfo {
        align-items: start;
    }
}